[submodule "elisp/evil"]
	path = elisp/evil
	url = git://gitorious.org/evil/evil.git
[submodule "elisp/undo-tree"]
	path = elisp/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule "elisp/haskell-mode"]
	path = elisp/haskell-mode
	url = git://github.com/pheaver/haskell-mode.git
[submodule "elisp/magit"]
	path = elisp/magit
	url = git://github.com/magit/magit.git
[submodule "elisp/org-mode"]
	path = elisp/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/markdown-mode"]
	path = elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "elisp/auto-complete"]
	path = elisp/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "elisp/popup"]
	path = elisp/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule "elisp/ace-jump-mode"]
	path = elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "elisp/zencoding"]
	path = elisp/zencoding
	url = https://github.com/rooney/zencoding.git
[submodule "elisp/coffee-mode"]
	path = elisp/coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
[submodule "elisp/haml-mode"]
	path = elisp/haml-mode
	url = https://github.com/nex3/haml-mode.git
[submodule "elisp/sass-mode"]
	path = elisp/sass-mode
	url = https://github.com/nex3/sass-mode.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/closetag"]
	path = vim/bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/easymotion"]
	path = vim/bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/bundle/haskellmode"]
	path = vim/bundle/haskellmode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
